// font variables
$font:          'proximanova', sans-serif;;

// color variables
$normal:		#3b3b3b;
$action: 		#1198de;
$dark_grey: 	#777;
$medium_grey:	#e2e2e2;
$light_grey:	#f1f1f1;
$white: 		#fff;
$alert: 		#ff4300;



$yellow:		#ffea00;


 



 

